{comment} This software is licensed under the terms of the Apache Licence Version 2.0
{comment} which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
{comment} In applying this licence, ECMWF does not waive the privileges and immunities
{comment} granted to it by virtue of its status as an intergovernmental organisation
{comment} nor does it submit to any jurisdiction.
